

#menu {
  position: fixed;
  right: 16px;
}

#menu button {
  background-color: #4682B4;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 12px 12px;
  cursor: pointer;
  z-index: 30;
}

#result table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#result th {
  font-size: 16px;
  border: 1px solid;
  padding: 0px 10px;
  white-space: pre;
  text-align: center;
  background-color: #FF8C00;
  position: sticky;
  top: 0;
  z-index: 1;                /* Keeps headers layered on top of table body cells */
}

#result td {
  font-size: 16px;
  border: 1px solid;
  padding: 0px 10px;
  white-space: pre;
  text-align: right;
}

#result .odd {
  background-color: #FFFAFA;
}

#result .even {
  background-color: #F5DEB3;
}

#result .edit {
  text-align: left;
}

#result .note {
  text-align: left;
}

