#result table {
  border-collapse: collapse;
}

#result th, #result td {
  font-size: 16px;
  border: 1px solid;
  padding: 0px 10px;
  white-space: pre;
  text-align: right;
}

#chart {
  width: 1600px;
  height: 800px;
  margin: 20px;
}

.flex {
  display: flex;
  justify-content: center; /* Horizontal centering */
}

