
#input_code {
  font-size: 22px;
}

#info {
  display: inline;
}

.news {
  font-size: 20px;
  display: block;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}

.link {
  font-size: 20px;
  margin-right: 10px;
}

.chart {
  display: inline-block;
  width: 800px;
  height: 400px;
}

#result table {
  display: inline-block;
  border-collapse: collapse;
  margin: 5px;
}

#result th, #result td {
  border: 1px solid;
  padding: 0px 10px;
}

#result tr:nth-child(odd) {
  background-color: #FFFAFA;
}

#result tr:nth-child(even) {
  background-color: #F5DEB3;
}

#result tr:nth-child(1) {
  background-color: #FF8C00;
}

.tbl_title {
  background-color: #FF8C00;
}

.green {
  color: green;
}

.red {
  color: red;
}

.grey {
  color: grey;
}

.bg_green {
  background-color: green;
}

.bg_red {
  background-color: red;
}

.bg_gold {
  background-color: gold;
}

.bg_yellow {
  background-color: yellow;
}

