
#menu {
  float: right;
}

#input_code {
  font-size: 22px;
}

#info {
  display: inline;
}

.flex {
  display: flex;
  justify-content: center; /* Horizontal centering */
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.link {
  font-size: 20px;
  margin-right: 10px;
}

#result table {
  display: inline-block;
  border-collapse: collapse;
  margin: 5px;
}

#result th {
  border: 1px solid;
  padding: 0px 10px;
  background-color: #FF8C00;
  text-align: right;
}

#result td {
  border: 1px solid;
  padding: 0px 10px;
  text-align: right;
}

#result tr:nth-child(odd) {
  background-color: #FFFAFA;
}

#result tr:nth-child(even) {
  background-color: #F5DEB3;
}

#result tr:nth-child(1) {
  background-color: #FF8C00;
}

