
#result table {
  display: inline-block;
  border-collapse: collapse;
  margin: 5px;
  vertical-align: top;
}

#result th {
  font-size: 20px;
  border: 1px solid;
  padding: 0px 10px;
  text-align: center;
}

#result td {
  font-size: 20px;
  border: 1px solid;
  padding: 0px 10px;
  text-align: right;
}

#result tr:nth-child(odd) {
  background-color: #FFFAFA;
}

#result tr:nth-child(even) {
  background-color: #F5DEB3;
}

#result tr:nth-child(1) {
  background-color: #FF8C00;
}

