
#topmenu table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

#topmenu td {
  font-size: 20px;
  padding: 0px 5px;
  font-weight: bold;
}

#topmenu select {
  font-size: 20px;
  padding: 5px 20px;
  border: 1px solid black;
}

.inc {
  color: green;
}

.dec {
  color: red;
}

.grey {
  color: grey;
}

.bg_inc {
  background-color: lightgreen;
}

.bg_dec {
  background-color: LightCoral;
}

.bg_hl {
  background-color: orange;
}

.bg_hv {
  background-color: violet;
}

