
#topbar {
  width: 100%;
}

#exrs tr:nth-child(odd) {
  background-color: #FFFAFA;
}

#exrs tr:nth-child(even) {
  background-color: #F5DEB3;
}

#exrs tr:nth-child(1) {
  background-color: #FF8C00;
}

#exrs table {
  border-collapse: collapse;
}

#exrs th, #exrs td {
  font-size: 14px;
  padding: 0px 10px;
  border: 1px solid;
}

#tags button {
  background-color: #4682B4;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 5px;
  cursor: pointer;
}

#sort select {
  font-size: 18px;
  padding: 4px 16px;
  border: 1px solid black;
}

#result table {
  display: inline;
  border-collapse: collapse;
}

#result th {
  font-size: 18px;
  border: 1px solid;
  width: 160px;
}

#result td {
  font-size: 18px;
  border: 1px solid;
  width: 260px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.grey {
  color: grey;
}

.bg_green {
  background-color: green;
}

.bg_red {
  background-color: red;
}

.bg_gold {
  background-color: gold;
}

.bg_yellow {
  background-color: yellow;
}

.bg_hv {
  color: purple;
}

.margin_left {
  margin-left: 4px;
}

.loading {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}

.note {
  color: blue;
}

